.accessory {
  &__undo,
  &__btn,
  &__item {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  &__item {
    display: inline-block;

    &-bowtie {
      background-color: beige;
    }

    &-glasses {
      background-color: darkolivegreen;
    }

    &-hat {
      background-color: darkcyan;
    }
  }

}
