.parts {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 2rem;

  &__picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    min-width: 10rem;
  }

  &__btn {
    cursor: pointer;
    border: none;
  }
}


.unicorn__parts {
  position: absolute;


  &-hair {
    top: -1.5rem;
    left: 4.5rem;
    @include flexCenter;
    width: 5rem;
    height: 5rem;
    background-color: green;
    border-radius: 50%;
  }

  &-hooves {
    left: 6rem;
    top: 13rem;
    @include flexCenter;
    width: 3rem;
    height: 3rem;
    background-color: brown;
    border-radius: 50%;
  }

  &-tail {
    top: 6.5rem;
    left: 14.5rem;
    @include flexCenter;
    width: 5rem;
    height: 1rem;
    background-color: orange;
  }

  &-horn {
    top: 2rem;
    left: -4rem;
    transform: rotate(30deg);
    @include flexCenter;
    width: 6rem;
    height: 1rem;
    background-color: gold;
  }
}
